body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  font-size: 1.5em; /\* Увеличение размера шрифта заголовка в 1.5 раза \*/
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 15px 30px; /\* Увеличение padding для большей кнопки \*/
  width: 200px; /\* Установление фиксированной ширины для одинаковых кнопок \*/
  text-align: center;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1.5em; /\* Увеличение размера шрифта кнопок в 1.5 раза \*/
}

a:hover {
  background-color: #45a049;
}
