body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px; /* Keep padding for spacing inside the button */
  width: 150px; /* Set a fixed width for consistency */
  text-align: center; /* Center the text horizontally */
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


a:hover {
  background-color: #45a049;
}
